# Predicting Air Delays
Notebook I: Intake and Cleaning
----

Thank you for your review of my code notebook.
This notebook's goal is to obtain, modify, clean, and prepare the dataset for exposure on a Machine Learning algorithm.

---
#### Problem Statement: 
Both travelers and airlines find delays frustrating and costly. This project attempts to be able to predict the probability of a commercial flight delay for any flight in the United States. 

---

#### MVP:
My Minimum viable product for this project is a working predictive model. 
Stretch goal is to develop a streamlit application an deploy for general use. 

---
# Intake and Data Cleaning 

The primary challenge in this notebook is managing a large dataset and cleaning data to arrive at something to run preliminary analysis on.  

The notebook is structured as follows.<br> 

>**Notebook I: Intake and Cleaning.**
>1. Imports and set up
>2. Cleaning steps.

The cleaned data will be saved on a new file by the end of this notebook and called into the subsequent notebook EDA for readability.

The notebooks in this project are:<br> 
**I. Intake and cleaning**<br>
II. EDA and preprocessing <br>
III. Modeling and predictions <br>
IV. Streamlit<br>

---

## 1. Set-up
----
I will be making use of `os` and `glob` libraries for python. 

`os` and `glob` will be used in conjunction with command line commands from the notebook to join the large CSV tables together.

In [1]:
import os 
import glob
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

 I have 68 CSV files. Each file represents 1 month of flight history from all U.S. Airports. As a result each CSV is approximatley 150mb in size. Loading a few of them into the workspace of the notebook will result in a loss of data due to data exceeding memory capacity on the local machine. 
 <br>
 <br>
The approach will be to manipulate each of the CSV's and join them directly in the command line. 

Note: 
Files are very very large and will either be hosted for a user's own enjoyment or sampled to a size small enough to go into the repository online. For now, certain code directories

In [2]:
#expand column view 
pd.set_option('display.max_columns', None)

Please load the preview data from this location.

In [5]:
all_flights = pd.read_csv('../Data/preview_sample.csv')

### Data Sources
---
This project attempts gathered delay data from the **Department of Transportation (DOT) Flight Delay reporting Database**. Sadly, there was no public API available to access this data from DOT or from Federal Aviation Administration.

Given there was no way to programatically acquire the desired amount of data, I proceeded to utilize the basic public data library tool and download a CSV for one monthly period at a time.  

This created a lot of _just **too big** files_ and hence our first unanticipated technical challenge with this project; what do I do? 

The plan: use the command line to join all the tables. 
After cleaning see how large the file is. 

To implement this plan, using `glob` methods and direct command line. 


---
References<br>
[Bureau of Transportation Statistics](https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FGJ)
<br>
[GLOB tutorial](https://www.freecodecamp.org/news/how-to-combine-multiple-csv-files-with-8-lines-of-code-265183e0854/)

### Create new dataset from monthly data sources. 
---
**This code is only meant to be run if you are joining additional data, included here as course requirements but is commented to be ignored.**
<br><br><br><br><br>

Run the below code if you have access to the files, which are large, on your local machine.

In [7]:
#a list of all the files. a total of 6.958GB of unfiltered raw data. 
#!ls

In [8]:
#using glob, to locate all file names. 
#file_ext = '.csv'
#files = sorted([file for file in glob.glob(f'*{file_ext}')])

In [9]:
#the first five in the list to confirm 
#print('first five files :',files[0:5],
#      'last 5 files: ' ,files[-4:])

In [10]:
#using the pd.concat() i will read from a list comprehension to concat each and every csv. 
#all_flights = pd.concat([pd.read_csv(file) for file in files ])

In [5]:
#export to csv
#all_flights.to_csv( "all_flights.csv", index=False, encoding='utf-8-sig')

### Subsetting global dataset 
---
Run this code to build  a new **sample** of the `'preview_sample'` dataset.

In [11]:
all_flights.shape

(550548, 34)

The process is completed with 34,409,230 flights with 34 _raw_ feature columns. It took approximately 8 minutes to process the file.

In [12]:
all_flights.head(2)

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 33
0,2016,8,11,4,2016-08-11,OO,N432SW,7369,SLC,"Salt Lake City, UT",Utah,COD,"Cody, WY",Wyoming,1630,1637.0,7.0,7.0,1745,1738.0,-7.0,0.0,0.0,NaN,0.0,75.0,1.0,298.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,8,14,2,2018-08-14,WN,N7881A,1422,SAN,"San Diego, CA",California,SJC,"San Jose, CA",California,800,759.0,-1.0,0.0,925,916.0,-9.0,0.0,0.0,NaN,0.0,85.0,1.0,417.0,NaN,NaN,NaN,NaN,NaN,NaN

### Subsetting
---
Lets first look at what an on time arrival is.

>A flight is counted as "on time" if it operated less than 15 minutes later than the scheduled time shown in the carriers' Computerized Reservations Systems (CRS). Arrival performance is based on arrival at the gate. Departure performance is based on departure from the gate.

Right there we can eliminate an `NaN` rows in some of our categories like `'year'`, `'arr_delay'`, `'carrier_delay'`, `'weather_delay'`, `'nas_delay`', `'security_delay'`, `'late_aircraft_delay'`


We should take care to preserve our on-time arrivals and other flights with less than 15 minutes delay that have delay attribution.

From here we can determine how many non null rows that are delays greater than 15 minutes 

---
Source [BTS]('https://www.bts.gov/explore-topics-and-geography/topics/airline-time-performance-and-causes-flight-delays')

In [13]:
all_flights.columns =all_flights.columns.str.lower()

In [14]:
ontime = all_flights[all_flights['arr_delay'] <=0 ]

In [15]:
ontime.shape

(361384, 34)

There are 22,575,180 flights that were on time in the measurement period. How about delayed flights, and in particular delayed flights with delay attribution entered. 

Delay attribution is where an airline will explain the cause of delay. The _BTS_ has been collecting attributed delay information since 2018. Because our data extends to two years prior, I am anticipating that there will be a significantly smaller subsection of flights with complete flight delay attribution.

In [16]:
#first section is to subset to all flights with arrival delays greater than 15 minutes.
delayed = all_flights[(all_flights['arr_delay'] > 15) 
                      & (all_flights['carrier_delay'].notnull()) 
                      & (all_flights['weather_delay'].notnull())
                      & (all_flights['nas_delay'].notnull())
                      & (all_flights['security_delay'].notnull())
                      & (all_flights['late_aircraft_delay'].notnull())
                      ]

In [17]:
#checking to see the annual distribution of flight delays in this subset. 
delayed['year'].value_counts()

2019    21466
2018    20736
2017    15965
2016    14726
2021     9658
2020     6593
Name: year, dtype: int64

In [18]:
delayed.shape

(89144, 34)

Now that I know our sample size for delayed flights containing delay attribution, I can sample the `ontime` dataset to the exact same size.

In [19]:
ontime_sample = ontime.sample(n=delayed.shape[0], random_state = 42)

In [20]:
ontime_sample.shape

(89144, 34)

Next, I take both dataframes and append them together. This will give me a 50% on time and 50% delayed flight balance. And due to the size I will then sample again

In [23]:
sample = delayed.append(ontime_sample, ignore_index =True)

In [24]:
sample.shape

(178288, 34)

In [26]:
print(f"Number of sampled flights, {sample.shape[0] :,}")

Number of sampled flights, 178,288

#### Adding canceled flights. 
----
Another factor in our analysis will be the impact of canceled flights on our predictive model.

In [27]:
sample['cancelled'].value_counts()

0.0    178288
Name: cancelled, dtype: int64

In [28]:
delayed['cancelled'].value_counts()

0.0    89144
Name: cancelled, dtype: int64

In [29]:
ontime['cancelled'].value_counts()

0.0    361384
Name: cancelled, dtype: int64

In [30]:
all_flights['cancelled'].value_counts()

0.0    538474
1.0     12074
Name: cancelled, dtype: int64

Appears to only be 0, not canceled and 1 as canceled. 

Note: the column is spelled 'cancelled' in the data set, and canceled in my text. They are equivalent and only a regional difference in spelling.

In [31]:
all_flights[all_flights['cancelled'] == 1].head(7)

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,tail_num,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,dest,dest_city_name,dest_state_nm,crs_dep_time,dep_time,dep_delay,dep_delay_new,crs_arr_time,arr_time,arr_delay,arr_delay_new,cancelled,cancellation_code,diverted,crs_elapsed_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 33
35,2020,3,26,4,2020-03-26,MQ,NaN,4014,ORD,"Chicago, IL",Illinois,DAY,"Dayton, OH",Ohio,1213,NaN,NaN,NaN,1423,NaN,NaN,NaN,1.0,D,0.0,70.0,1.0,240.0,NaN,NaN,NaN,NaN,NaN,NaN
55,2017,1,3,2,2017-01-03,VX,N627VA,593,PSP,"Palm Springs, CA",California,SFO,"San Francisco, CA",California,1650,NaN,NaN,NaN,1814,NaN,NaN,NaN,1.0,C,0.0,84.0,1.0,421.0,NaN,NaN,NaN,NaN,NaN,NaN
103,2017,5,25,4,2017-05-25,B6,N231JB,2002,JFK,"New York, NY",New York,BUF,"Buffalo, NY",New York,2240,NaN,NaN,NaN,12,NaN,NaN,NaN,1.0,C,0.0,92.0,1.0,301.0,NaN,NaN,NaN,NaN,NaN,NaN
204,2016,10,6,4,2016-10-06,WN,N498WN,932,ISP,"Islip, NY",New York,FLL,"Fort Lauderdale, FL",Florida,1210,NaN,NaN,NaN,1505,NaN,NaN,NaN,1.0,B,0.0,175.0,1.0,1092.0,NaN,NaN,NaN,NaN,NaN,NaN
225,2019,2,28,4,2019-02-28,WN,N7834A,1628,DAL,"Dallas, TX",Texas,HOU,"Houston, TX",Texas,600,NaN,NaN,NaN,710,NaN,NaN,NaN,1.0,A,0.0,70.0,1.0,239.0,NaN,NaN,NaN,NaN,NaN,NaN
253,2020,5,2,6,2020-05-02,OO,N439SW,4278,BJI,"Bemidji, MN",Minnesota,MSP,"Minneapolis, MN",Minnesota,1330,NaN,NaN,NaN,1424,NaN,NaN,NaN,1.0,A,0.0,54.0,1.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
279,2020,8,7,5,2020-08-07,OH,NaN,5043,DCA,"Washington, DC",Virginia,DAY,"Dayton, OH",Ohio,1930,NaN,NaN,NaN,2049,NaN,NaN,NaN,1.0,D,0.0,79.0,1.0,391.0,NaN,NaN,NaN,NaN,NaN,NaN

It is the case that how cancelled flights are recorded, our filtering at the outset necissarily excluded all flight cancellations. Since a canceled flight is a kind of deviation from your itinerary, it would make sense to include the data in our examination. lets take a similar sample and use it in our data.

In [35]:
#Check the proportion of delayed flights in the population.
all_flights['cancelled'].value_counts(normalize=True)

0.02193087614522258

In [36]:
#get n for the similar proportion of that to our sample data
cx_num = int(all_flights['cancelled'].value_counts(normalize=True)[1]*sample.shape[0])

In [37]:
cx_sample = all_flights[(all_flights['cancelled']==1) & 
                        (all_flights['op_unique_carrier'].notnull()) &
                       (all_flights['tail_num'].notnull())
                       ].sample(n= cx_num, random_state = 42)

In [38]:
cx_sample.shape

(3910, 34)

In [39]:
cx_sample.isnull().sum()

year                      0
month                     0
day_of_month              0
day_of_week               0
fl_date                   0
op_unique_carrier         0
tail_num                  0
op_carrier_fl_num         0
origin                    0
origin_city_name          0
origin_state_nm           0
dest                      0
dest_city_name            0
dest_state_nm             0
crs_dep_time              0
dep_time               3790
dep_delay              3792
dep_delay_new          3792
crs_arr_time              0
arr_time               3910
arr_delay              3910
arr_delay_new          3910
cancelled                 0
cancellation_code         0
diverted                  0
crs_elapsed_time          0
flights                   0
distance                  0
carrier_delay          3910
weather_delay          3910
nas_delay              3910
security_delay         3910
late_aircraft_delay    3910
unnamed: 33            3910
dtype: int64

Having `NaN` values in the arrival and departure columns makes sense since these flights did not operate. Note how they have some flights that had commenced (departed but not necessarily left the origin) while none of the flights have an arrival time. I think that we should keep our new canceled flight cohort and continue on.

In [40]:
sample = sample.append(cx_sample, ignore_index = True)

#### Save a new sample
----

In [42]:
# save this to CSV for further processing. 
sample.to_csv('../Data/sampled.csv', index = False)

## 2. Cleaning
---
Thankfully, the data that came to us from _BTS_ was mostly cleaned and ready to use. However, there are certain categorical columns that need to be adjusted to be human readable in  **EDA** section that follows **cleaning**

### Changing time to categorical labels.
This project will not be conducting a full time series analysis for the purpose of classification. 
For now we will change:
* `month` to human readable months. 
> _12 --> Dec_
* `day_of_the_week` will go from numeric encoding to three-letter abbreviation for days of the week.
> _1 --> Mon_ 
* `op_unique_carrier` will go from two-letter call sign to the regular entity name.
> _AS --> Alaska Airlines_

### Clean: `month`
Month is encoded by the month's number in a calendar year as noted above. 
The following steps decode from number to standard 3-letter abbreviation.

In [43]:
sample['month'].unique()

array([ 4,  7, 11, 12,  1,  9,  6,  8, 10,  3,  2,  5])

In [44]:
months = {1 : 'Jan', 2: 'Feb', 3 : 'Mar',
         4: 'Apr', 5: 'May', 6: 'Jun',
         7: 'Jul', 8:'Aug', 9 : 'Sep',
         10 : 'Oct', 11:'Nov', 12: 'Dec'}

In [45]:
sample['month'] = sample['month'].apply(lambda x: months[x])
sample['month'].unique()

array(['Apr', 'Jul', 'Nov', 'Dec', 'Jan', 'Sep', 'Jun', 'Aug', 'Oct',
       'Mar', 'Feb', 'May'], dtype=object)

In [46]:
sample.columns

Index(['year', 'month', 'day_of_month', 'day_of_week', 'fl_date',
       'op_unique_carrier', 'tail_num', 'op_carrier_fl_num', 'origin',
       'origin_city_name', 'origin_state_nm', 'dest', 'dest_city_name',
       'dest_state_nm', 'crs_dep_time', 'dep_time', 'dep_delay',
       'dep_delay_new', 'crs_arr_time', 'arr_time', 'arr_delay',
       'arr_delay_new', 'cancelled', 'cancellation_code', 'diverted',
       'crs_elapsed_time', 'flights', 'distance', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay',
       'unnamed: 33'],
      dtype='object')

### Clean: `day_of_week`
This column is encoded by the day's number as it falls on the week. 1 = Monday and 7 = Sunday. 
The data dictionary indicates that there is an `unknown` option encoded with `9`. 
I will update the `sample` dataframe to remove all `9` from the frame and then proceed to relabel `day_of_the_week` with a three-letter abbreviation used in the United States as noted above.

In [47]:
sample = sample[sample['day_of_week'] != 9].copy()

In [48]:
days = { 1: 'Mon', 2: 'Tue', 3:'Wed', 4: 'Thu', 5: 'Fri', 6: 'Sat', 7: 'Sun'}

In [49]:
sample['day_of_week'] = sample['day_of_week'].apply(lambda x: days[x])
sample['day_of_week'].unique()

array(['Sat', 'Wed', 'Tue', 'Sun', 'Fri', 'Mon', 'Thu'], dtype=object)

### Clean: `op_unique_carrier`
---
#### Airline specific performance. 
----
Distilling the dataset to its component airlines have already been done for us but the DOT. 
<br>
However we need to get some definitions out of the way here to help us make sense of what we are looking at. 

#### Dealing with subsidiary airlines and codeshare flights. 
---
Since the dawn of deregulation, airlines have been free to form marketing partnerships often advertising another airline's flight and then taking a share of the revenue from the ticket sale. 
<br><br>
For this project, we are only analyzing an operating carrier. That is, an operating carrier is the airline that flies the plane, not the airline (or entity) that sold the ticket. 
<br> <br>
The data comes from BTS in by listing the operating carrier only. This is ideal since each operating carrier has their own personnel that are responsible for the marketing and operation of a particular flight. In other words, we can measure a delay and attribute exact delay times (as required by DOT) on the reason for the delay. 
<br> <br>
Even subsidiary airlines are listed independently of the parent airline since the parent and subsidiary do not share operational control of that particular flight. 
<br><br>
There are more than a few airlines on our dataset that are wholly-owned subsidiary airlines that have their own operational certificate from their aviation governing body. These are indeed separate airlines, however, it is not readily apparent to the average leisure customer. 

First job in this EDA series is to decode the airline designators (two letter designations EG AA = American Airlines, WN = Southwest Airlines) and convert the category column to their commonly know name.

In [50]:
airlines = {}
for airline in sample['op_unique_carrier'].unique():
    airlines[airline] = 0

In [51]:
airlines

{'AA': 0,
 'OO': 0,
 'MQ': 0,
 'DL': 0,
 'YX': 0,
 'EV': 0,
 'UA': 0,
 'WN': 0,
 'G4': 0,
 'F9': 0,
 'OH': 0,
 'B6': 0,
 'YV': 0,
 '9E': 0,
 'NK': 0,
 'HA': 0,
 'AS': 0,
 'QX': 0,
 'VX': 0}

In [52]:
#grouped in chunks to keep code clean. 1 of 3
airlines['UA'] ='United Airlines'
airlines['9E'] ='Endeavor Air'
airlines['MQ'] ='Envoy Air'
airlines['OO'] ='Skywest Airlines'
airlines['F9'] ='Frontier Airlines'
airlines['DL'] ='Delta Airlines'
airlines['AA'] ='American Airlines'

In [53]:
#group 2 of 3
airlines['OH'] ='PSA Airlines'
airlines['G4'] ='Allegiant Air'
airlines['YV'] ='Mesa Air'
airlines['WN'] ='Southwest Airlines'
airlines['YX'] ='Republic Airways'
airlines['AS'] ='Alaska Airlines'
airlines['EV'] ='ExpressJet'

In [54]:
#group 3 of 3
airlines['B6'] ='JetBlue'
airlines['NK'] ='Spirit Airlines'
airlines['HA'] ='Hawaiian Airlines'
airlines['VX'] ='Virgin America'
airlines['QX'] ='Horizon Air'

In [55]:
airlines

{'AA': 'American Airlines',
 'OO': 'Skywest Airlines',
 'MQ': 'Envoy Air',
 'DL': 'Delta Airlines',
 'YX': 'Republic Airways',
 'EV': 'ExpressJet',
 'UA': 'United Airlines',
 'WN': 'Southwest Airlines',
 'G4': 'Allegiant Air',
 'F9': 'Frontier Airlines',
 'OH': 'PSA Airlines',
 'B6': 'JetBlue',
 'YV': 'Mesa Air',
 '9E': 'Endeavor Air',
 'NK': 'Spirit Airlines',
 'HA': 'Hawaiian Airlines',
 'AS': 'Alaska Airlines',
 'QX': 'Horizon Air',
 'VX': 'Virgin America'}

In [56]:
sample['op_unique_carrier'] = sample['op_unique_carrier'].apply(lambda x: airlines[x])

In [57]:
#rename the column _op_unique_carrier_ to _airline_
sample = sample.rename({'op_unique_carrier': 'airline'}, axis=1)

In [58]:
'airline' in sample.columns

True

In [59]:
# save this to CSV for further processing. 
sample.to_csv('../Data/sampled.csv', index = False)

#### Clean: Dealing with airlines that no longer operate. 
---
There are 19 airlines and not all of them were in business during the sample period available. 
One such example is Virgin America ('VX'). 

VX was acquired by Alaska Airlines in 2017 and stoped operating under it's callsign in 2018. 
During the merger, many departments and personnel were moved from San Francisco to Seattle where Alaska Airlines is headquartered. 

For the purpose of this analysis, airlines not in operation in 2021 were removed from the airline performance analysis.

In [60]:
[airline for airline in sample['airline'].unique() if airline not in sample[sample['year']==2021]['airline'].unique()]

['ExpressJet', 'Virgin America']

In [61]:
print(sample[sample['airline']== 'ExpressJet']['year'].value_counts().sum()/sample.shape[0])

0.037733674354273924

In [62]:
print(sample[sample['airline']== 'Virgin America']['year'].value_counts().sum()/sample.shape[0])

0.005274481607921053

In [63]:
sample = sample[sample['airline'] != 'ExpressJet'].copy()

In [64]:
#update sample dataframe
sample = sample[sample['airline'] != 'Virgin America'].copy()

In [65]:
# save this to CSV for further processing. 
sample.to_csv('../Data/sampled.csv', index = False)

### Clean: Arrival Delays `arr_delay` & `dep_delay`
---
We are using `arr_delay` to measure a flight delay because _DOT_ has already calculated for us the difference between scheduled arrival (`crs_arr_time`) and actual arrival (`arr_time`).
The same method is true for the departure variables as well. `dep_delay`, `dep_time` and `crs_dep_time`.

In the commercial aviation industry, `arr_time` is recorded when the aircraft is parked at the gate with their brakes armed, and main cabin door is open. This is advantageous for us since all late arrivals will have a positive value and all early arrivals a negative value. 

Similarly, on departure the `dep_time` is recorded when the main cabin door is shut, and the brakes are off. 

There are many other timing events that occur during taxi, however we are using the final stopping time as our valid time because this is the time when a passenger is allowed off of the aircraft.

To clean this column, I will bring all early arriving aircraft to 0

In [66]:
sample[['dep_delay','arr_delay']].describe()

           dep_delay      arr_delay
count  170829.000000  170722.000000
mean       29.080665      26.164507
std        69.403145      71.194063
min       -52.000000     -88.000000
25%        -4.000000     -12.000000
50%         1.000000       0.000000
75%        40.000000      40.000000
max      1884.000000    1868.000000

In [67]:
#adjust negative arrival and departures time (an early arrival) to 0
sample['arr_delay'] = sample['arr_delay'].apply(lambda x: x if x >= 0 else 0)
sample['dep_delay'] =sample['dep_delay'].apply(lambda x: x if x>= 0 else 0)

In [68]:
sample[['dep_delay','arr_delay']].describe()

           dep_delay      arr_delay
count  174362.000000  174362.000000
mean       30.859792      32.195295
std        67.660037      66.856400
min         0.000000       0.000000
25%         0.000000       0.000000
50%         1.000000       0.000000
75%        39.000000      39.000000
max      1884.000000    1868.000000

### Clean: Null delay attribution values.
---
These are no problem. They simply represent rows when there was no arrival delay. I am handling this by filling the NaN with 0 values.

In [69]:
sample[['year','arr_delay','carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay']].isnull().sum()

year                       0
arr_delay                  0
carrier_delay          89426
weather_delay          89426
nas_delay              89426
security_delay         89426
late_aircraft_delay    89426
dtype: int64

In [70]:
sample[['year','arr_delay','carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay']]= sample[['year','arr_delay','carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay']].fillna(0)

In [71]:
sample[['year','arr_delay','carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay']].isnull().sum()

year                   0
arr_delay              0
carrier_delay          0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
dtype: int64

### Clean: Canceled flights.
---
Since we explicitly captured a few canceled flight instances, lets have a look and see if any data needs to be cleaned.

Now that the flights that have been canceled have been added to the data, I need to adjust the values in the `arr_delay` column so that we can resolved the `NaN` issue and limit counting/statistical impact a flight cancellation would have on the measurements in this columns.

In [72]:
sample.isnull().sum()

year                        0
month                       0
day_of_month                0
day_of_week                 0
fl_date                     0
airline                     0
tail_num                    0
op_carrier_fl_num           0
origin                      0
origin_city_name            0
origin_state_nm             0
dest                        0
dest_city_name              0
dest_state_nm               0
crs_dep_time                0
dep_time                 3524
dep_delay                   0
dep_delay_new            3533
crs_arr_time                0
arr_time                 3640
arr_delay                   0
arr_delay_new            3640
cancelled                   0
cancellation_code      170722
diverted                    0
crs_elapsed_time            0
flights                     0
distance                    0
carrier_delay               0
weather_delay               0
nas_delay                   0
security_delay              0
late_aircraft_delay         0
unnamed: 33            174362
dtype: int64

In [73]:
sample[sample['cancelled']==1][['dep_delay', 'arr_delay']].value_counts()

dep_delay  arr_delay
0.0        0.0          3565
2.0        0.0             3
14.0       0.0             2
168.0      0.0             2
119.0      0.0             2
                        ...
68.0       0.0             1
1.0        0.0             1
70.0       0.0             1
71.0       0.0             1
974.0      0.0             1
Length: 64, dtype: int64

This says that if a flight was canceled, they have attributed 0 as the arrival delay.

Because my goal is to build a model that predicts an arrival delay or cancellation, I will set a flag value of -1 in the target variable.

I am continuing and will do the same on the `dep_delay` column as well.

In [74]:
sample.loc[sample['cancelled'] == 1, 'arr_delay']=-1

In [75]:
sample.loc[sample['cancelled'] == 1, 'dep_delay']=-1

In [76]:
sample[['dep_delay','arr_delay']].describe()

           dep_delay      arr_delay
count  174362.000000  174362.000000
mean       30.794560      32.174419
std        67.590764      66.866606
min        -1.000000      -1.000000
25%         0.000000       0.000000
50%         1.000000       0.000000
75%        39.000000      39.000000
max      1884.000000    1868.000000

In [77]:
sample['cancelled'].value_counts()

0.0    170722
1.0      3640
Name: cancelled, dtype: int64

In [78]:
sample.isnull().sum()

year                        0
month                       0
day_of_month                0
day_of_week                 0
fl_date                     0
airline                     0
tail_num                    0
op_carrier_fl_num           0
origin                      0
origin_city_name            0
origin_state_nm             0
dest                        0
dest_city_name              0
dest_state_nm               0
crs_dep_time                0
dep_time                 3524
dep_delay                   0
dep_delay_new            3533
crs_arr_time                0
arr_time                 3640
arr_delay                   0
arr_delay_new            3640
cancelled                   0
cancellation_code      170722
diverted                    0
crs_elapsed_time            0
flights                     0
distance                    0
carrier_delay               0
weather_delay               0
nas_delay                   0
security_delay              0
late_aircraft_delay         0
unnamed: 33            174362
dtype: int64

In [79]:
# save this to CSV for further processing. 
sample.to_csv('../Data/sampled.csv', index = False)

Now we have identified flights that were canceled. lets look at the delay details and see if anything is listed there.

### Clean: Cancellation Codes
----
In this section we are going to clean the cancellation code column by decoding its original encoding

In [80]:
sample[sample['cancelled'] == 1][['arr_delay','cancellation_code']].value_counts()

arr_delay  cancellation_code
-1.0       B                    1711
           A                     875
           D                     588
           C                     466
dtype: int64

I will decode the cancellation_code column and then encode it with as a OneHotEconding. These will become features at the end.

| **Code**  | **Meaning**  |
|---|:---:|
| _A_  | Air Carrier caused (MX or Crew)  |
| _B_  | Weather (WX) |
| _C_  | National Air System (Air Traffic Control)  |
| _D_  | Security |
| NaN| The flight was not canceled|


BTS definitions for delays and cancelations:

> * Air Carrier: The cause of the cancellation or delay was due to circumstances within the airline's control (e.g. maintenance or crew problems, aircraft cleaning, baggage loading, fueling, etc.).
>* Extreme Weather: Significant meteorological conditions (actual or forecasted) that, in the judgment of the carrier, delays or prevents the operation of a flight such as tornado, blizzard or hurricane.
>* National Aviation System (NAS): Delays and cancellations attributable to the national aviation system that refer to a broad set of conditions, such as non-extreme weather conditions, airport operations, heavy traffic volume, and air traffic control.
>* Late-arriving aircraft: A previous flight with same aircraft arrived late, causing the present flight to depart late.
>* Security: Delays or cancellations caused by evacuation of a terminal or concourse, re-boarding of aircraft because of security breach, inoperative screening equipment and/or long lines in excess of 29 minutes at screening areas.

Note: the `NaN` condition will remain NaN as it represents a true state. That is, the flight has a null value if the flight was not canceled. 

---
Source [BTS]('https://www.bts.gov/explore-topics-and-geography/topics/airline-time-performance-and-causes-flight-delays')

In [81]:
sample[sample['cancelled'] == 0 ]['cancellation_code'].isnull().sum()

170722

In [82]:
sample['cancellation_code'] = sample['cancellation_code'].fillna('completed_flight')

In [83]:
#Changing the filled value back to np.nan so we do not impact other metrics. 
cancel_coded = {'A': 'cx_carrier' , 'B': 'cx_weather', 'C': 'cx_nas', 'D': 'cx_security', 'completed_flight' : 'completed_flight'}

In [84]:
sample['cancellation_code']= sample['cancellation_code'].apply(lambda x: cancel_coded[x])

In [85]:
sample['cancellation_code'].value_counts()

completed_flight    170722
cx_weather            1711
cx_carrier             875
cx_security            588
cx_nas                 466
Name: cancellation_code, dtype: int64

In [86]:
# save this to CSV for further processing. 
sample.to_csv('../Data/sampled.csv', index = False)

### Clean: Diversions
----
A flight diversion is when a flight makes a deviation from its planned arrival and makes another stop. 
Reasons for flight diversions could be severe weather at the destination that is preventing a safe landing procedure. Or, it could also be due to needing to obtain more fuel due to other circumstance (weather) along the flight path. And even still, a flight may divert to deal with a security or medical related emergency.

In all this equates to arriving later than planned so we have to examine if the data should be cleaned.

The data is encoded as 1 meaning the flight was diverted, 0 meaning that the flight was not diverted. 
Our random sample data contains 19,138 flights that were diverted. 

Of these diverted flights only three were canceled, and none suffered an arrival delay. 

Looking at the documentation on the dataset, each delay arrival is counted as a flight. That is, when a flight changes their intended destination, the new destination is recorded and arrival times are recorded from that arrival as opposed to the arrival at the original destination station. 

There is an option to pull down all diversion chains to follow the accumulated arrival delay to the final scheduled destination airport, however, in the interest and scope of this project I did not pull that data down. 

Because this could impact our arrival times by accumulating on-time instances, these rows will be dropped from the data.

In [87]:
len(sample[sample['diverted']==1])

0

There were no diverted flights in our sample data. Below is how many diversions were recorded in our `all_flights data`.

In [88]:
#are there any properties to be aware of?
all_flights[all_flights['diverted']==1].head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,tail_num,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,dest,dest_city_name,dest_state_nm,crs_dep_time,dep_time,dep_delay,dep_delay_new,crs_arr_time,arr_time,arr_delay,arr_delay_new,cancelled,cancellation_code,diverted,crs_elapsed_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 33
360,2018,3,2,5,2018-03-02,B6,N294JB,33,BTV,"Burlington, VT",Vermont,JFK,"New York, NY",New York,1432,1634.0,122.0,122.0,1557,2229.0,NaN,NaN,0.0,NaN,1.0,85.0,1.0,266.0,NaN,NaN,NaN,NaN,NaN,NaN
468,2017,7,9,7,2017-07-09,AS,N593AS,802,LIH,"Lihue, HI",Hawaii,SAN,"San Diego, CA",California,1330,1450.0,80.0,80.0,2203,NaN,NaN,NaN,0.0,NaN,1.0,333.0,1.0,2676.0,NaN,NaN,NaN,NaN,NaN,NaN
652,2016,2,15,1,2016-02-15,DL,N810DN,763,MCO,"Orlando, FL",Florida,LGA,"New York, NY",New York,1520,1525.0,5.0,5.0,1803,2232.0,NaN,NaN,0.0,NaN,1.0,163.0,1.0,950.0,NaN,NaN,NaN,NaN,NaN,NaN
861,2017,7,26,3,2017-07-26,AA,N204AA,645,OGG,"Kahului, HI",Hawaii,PHX,"Phoenix, AZ",Arizona,2220,2219.0,-1.0,0.0,702,NaN,NaN,NaN,0.0,NaN,1.0,342.0,1.0,2845.0,NaN,NaN,NaN,NaN,NaN,NaN
1105,2019,7,3,3,2019-07-03,UA,N404UA,274,DEN,"Denver, CO",Colorado,TPA,"Tampa, FL",Florida,805,800.0,-5.0,0.0,1342,1700.0,NaN,NaN,0.0,NaN,1.0,217.0,1.0,1506.0,NaN,NaN,NaN,NaN,NaN,NaN

It seems as though that when `diverted` is marked 1, `arr_time` is counted but not `arr_delay` which is what we have based our screening on.

In [89]:
#How many flights were diverted?
print(all_flights[all_flights['diverted']==1].shape[0])
#what is the proportion to all other flights?
print(round(all_flights[all_flights['diverted']==1].shape[0]/all_flights.shape[0], 3))

1314
0.002

Looks like approx 0.2% of all flights were diverted. None were captured in our sample. Due to its small representative size I am proceeding without adding diverted flights to our sample. The `sample` dataframe will be updated.

In [90]:
sample = sample[sample['diverted']!=1]

In [91]:
sample.shape

(174362, 34)

In [92]:
# save this to CSV for further processing. 
sample.to_csv('../Data/sampled.csv', index = False)

### Clean: Tail Number
----
The aircraft tailnumber is identical to an automobile's license plate. Each tail number is unique to an aircraft. 
Knowing the tailnumber is good to know if there is a history of delays associated with a particular aircraft. 


I will drop our empty rows from the dataset because information loss is minimal. There are no empty `tail_num` rows due to our explicit calls to the population data.

In [93]:
sample['tail_num'].isnull().sum()

0

### Clean: null values
----
Here we have to investigate and handle columns with null values.

In [94]:
sample.isnull().sum()

year                        0
month                       0
day_of_month                0
day_of_week                 0
fl_date                     0
airline                     0
tail_num                    0
op_carrier_fl_num           0
origin                      0
origin_city_name            0
origin_state_nm             0
dest                        0
dest_city_name              0
dest_state_nm               0
crs_dep_time                0
dep_time                 3524
dep_delay                   0
dep_delay_new            3533
crs_arr_time                0
arr_time                 3640
arr_delay                   0
arr_delay_new            3640
cancelled                   0
cancellation_code           0
diverted                    0
crs_elapsed_time            0
flights                     0
distance                    0
carrier_delay               0
weather_delay               0
nas_delay                   0
security_delay              0
late_aircraft_delay         0
unnamed: 33            174362
dtype: int64

#### Clean: Null Values- `dep_time`, `dep_delay_new`, `arr_time`, `arr_delay_new`
---
These instances are resulting from a flight being canceled from the schedule as discussed in the prior section. They make sense being in the data set. These are alse columns coded in time. a 0 departure time means midnight. 

The `xxx_new` columns are adjusted columns when the airline makes adjustments to their reported times. These columns will simply be dropped from the dataset. 

We can handle the `dep_time` and `arr_time` columns by adding a -1 in the same fashion we did for `dep_delay` and `arr_delay`

In [95]:
sample.loc[sample['cancelled'] == 1, 'dep_time']=-1

In [96]:
sample.loc[sample['cancelled'] == 1, 'arr_time']=-1

In [97]:
sample = sample.drop(columns=['dep_delay_new','arr_delay_new']).copy()

In [98]:
sample.isnull().sum()

year                        0
month                       0
day_of_month                0
day_of_week                 0
fl_date                     0
airline                     0
tail_num                    0
op_carrier_fl_num           0
origin                      0
origin_city_name            0
origin_state_nm             0
dest                        0
dest_city_name              0
dest_state_nm               0
crs_dep_time                0
dep_time                    0
dep_delay                   0
crs_arr_time                0
arr_time                    0
arr_delay                   0
cancelled                   0
cancellation_code           0
diverted                    0
crs_elapsed_time            0
flights                     0
distance                    0
carrier_delay               0
weather_delay               0
nas_delay                   0
security_delay              0
late_aircraft_delay         0
unnamed: 33            174362
dtype: int64

In [99]:
# save this to CSV for further processing. 
sample.to_csv('../Data/sampled.csv', index = False)

### Clean: Drop unused columns and save a copy.
---
Although these columns contain parts-of, or encodings-for, other columns they will remain in the dataset for our application to make use of. However these are not going to be considered features in our model. I will set up a `drop_cols` variable and drop them from the current sampled data frame.

In [100]:
sample.columns

Index(['year', 'month', 'day_of_month', 'day_of_week', 'fl_date', 'airline',
       'tail_num', 'op_carrier_fl_num', 'origin', 'origin_city_name',
       'origin_state_nm', 'dest', 'dest_city_name', 'dest_state_nm',
       'crs_dep_time', 'dep_time', 'dep_delay', 'crs_arr_time', 'arr_time',
       'arr_delay', 'cancelled', 'cancellation_code', 'diverted',
       'crs_elapsed_time', 'flights', 'distance', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay',
       'unnamed: 33'],
      dtype='object')

Columns kept
* Date related columns: <br>
    `'year'`, `'month'`, `'day_of_month'`, `'day_of_week'`, and `'fl_date'`

* Airline and aircraft information: <br>
    `airline`, `tail_num`

* Flight itinerary information:<br>
    `op_carrier_fl_num`, `'origin'`, `'origin_city_name'`, `'dest'`, `'dest_city_name'`, `'distance'`
    
* Flight schedule and time performance information:<br>
    Departures: `'crs_dep_time'`, `'dep_time'`, `'dep_delay'`<br>
    Arrivals: `'crs_arr_time'`, `'arr_time'`, `'arr_delay'`<br>
    
* Flight Deviation:<br>
    `cancelled` and `cancellation code`

The following columns are being dropped and the reason given. 

* `origin_state_nm`, redundant information with `'origin_city_nm'` 
* `dest_state_nm`, same as above. 
* `dep_delay_new`, `arr_delay_new`, These columns represent data that has been updated by the carrier post-hoc. Due to the timing of the updates, we still want to watch for on-the-ground truths so these updated events will be dropped and the original occurrence of the delay is kept. 
* `crs_elapsed_time`, this is the gate to gate timing of a given flight based on the _Customer Reservation System_ (CRS) information. This is the total scheduled flight time a flight has on the schedule. 
* `flights`, this column represented the number of flights on a flight number. This is used in the event of a _through flight_. There were no instances of through flights in our global population sample. 
> A _through flight_ is a single marketed flight that has a stop in the middle. EG flight American Airlines **9987** is sold as LAX to JFK as a throughflight with a stop in Dallas (DFW). Dallas customers also purchase American Airlines flight **9987** but to them it is from DFW to JFK. The flight column in this instance would be 2 since the same aircraft is used on the single scheduled flight. 
* `unnamed: 33`, a superfluous column included in the original download.   
* `'diverted'`, there are no instances of diverted flights in our sample.

In [101]:
sample = sample.drop(columns = ['origin_state_nm',
                                      'dest_state_nm',
                                      'crs_elapsed_time',
                                      'flights',
                                      'diverted',
                                      'unnamed: 33']).copy()

In [102]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174362 entries, 0 to 182197
Data columns (total 26 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 174362 non-null  int64
 1   month                174362 non-null  object
 2   day_of_month         174362 non-null  int64
 3   day_of_week          174362 non-null  object
 4   fl_date              174362 non-null  object
 5   airline              174362 non-null  object
 6   tail_num             174362 non-null  object
 7   op_carrier_fl_num    174362 non-null  int64
 8   origin               174362 non-null  object
 9   origin_city_name     174362 non-null  object
 10  dest                 174362 non-null  object
 11  dest_city_name       174362 non-null  object
 12  crs_dep_time         174362 non-null  int64
 13  dep_time             174362 non-null  float64
 14  dep_delay            174362 non-null  float64
 15  crs_arr_time         174362 non-null  int64
 16  arr_time             174362 non-null  float64
 17  arr_delay            174362 non-null  float64
 18  cancelled            174362 non-null  float64
 19  cancellation_code    174362 non-null  object
 20  distance             174362 non-null  float64
 21  carrier_delay        174362 non-null  float64
 22  weather_delay        174362 non-null  float64
 23  nas_delay            174362 non-null  float64
 24  security_delay       174362 non-null  float64
 25  late_aircraft_delay  174362 non-null  float64
dtypes: float64(11), int64(5), object(10)
memory usage: 35.9+ MB

# Save prepared data copy
---
Now that our data is prepared, I will save a final copy of our sample data.

In [104]:
#save copy of cleaned sample dataframe
sample.to_csv('../Data/sample_cleaned.csv', index = False)

# End of Notebook I.
---
Thanks for processing through this information with me. I will continue with Exploratory Data Analysis and Feature Engineering in Notebook II